.ipynb_checkpoints
.DS_Store
__pycache__

# in case scraper is put inside project
indeed-resume-scraper

# no raw json files
*.json

dataset

# venv things
lib64
bin

include
lib/python3.6
pyvenv.cfg

# doc2vec
doc2vec_data
doc2vec_model

# er_results
er_resume*
er_titles*
