.ipynb_checkpoints
.DS_Store
__pycache__

# in case scraper is put inside project
indeed-resume-scraper

# no raw json files
*.json

dataset

# venv things
lib64
bin

include
lib/python3.6
pyvenv.cfg
